input {
	margin-down: 5px;
}
fieldset {
  width: 280px; 
  margin: auto;
}
table, tr, td {
  font-weight: normal;
  background-color: teal; 
  width: 280px; 
}
table{
  border: 1px solid blue;

}
legend {
  border: 3px solid #DDDDDD; 
  font-weight: bold; 
  background-color: #F0F0F0; 
  color: #BBBBBB;
  padding: 0px;
 }
  
